.container{
    flex:0.8;
}

.head {
    text-align: left;
    padding: 10px 50px;
    font-weight: 700;
    font-size: large;
}

.details{
    display: flex;
    margin: 0 30px;
    font-size: 17px;
}

.section-1, .section-2{
    display: flex;
    background-color: #fafafa;
    margin: 0 10px;
    padding: 10px;
}

.section-1 {
    width: 80%;
}

.section-1 .left {
    text-align: left;
    width: 80%;
    margin: 10px 10px 0px 50px;
}

.section-1 .right {
    margin: 10px 0px 0px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.payment {
    margin-top: 120px;;
    margin-bottom: 15px;
}

.section-2 {
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
}

.text{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#bottom {
    margin-top: 60px;
    margin-bottom: 10px;
    font-weight: 700;
}

button {
    font-size: 22px;
    padding: 10px 100px;
    margin: 20px;
    background: #f6f6f6;
    border: #f6f6f6;
    color: #797979;
    border-radius: 5px;
    cursor: pointer;
}

.qr {
    display: none;
}

@media screen and (max-width:1130px) {

    .section-1 {
        width: 70%;
    }

    .section-1 .right {
        margin: 10px 0px 0px 10px;
    }

    .section-1 .left {
        width: 70%;
        margin: 10px 10px 0px 50px;
    }

    .section-2 {
        width: 30%;
    }
}

@media screen and (max-width:490px) {

    .head {
        padding: 5px 20px;
        margin: 5px;
    }

    .details{
        display: inline;
        margin: 0 5px;
    }

    .section-1, .section-2{
        margin: 10px auto;
        padding: 10px 15px;
    }

    .section-1 {
        width: 85%;
        flex-wrap: wrap;
    }

    .section-1 .left {
        width: 50%;
        margin: 10px;
    }

    .section-1 .right {
        margin: 0 auto;
        flex-direction: column;
    }

    .payment {
        margin: 10px;
    }

    .section-2 {
        width: 85%;
    }

    .text{
        margin: 0 5px;
        padding: 5px;
    }

    #bottom {
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 700;
    }

    button {
        padding: 10px;
        margin: 10px auto;
        background: #cc0000;
        color: white;
        display: flex;
        width: 80%;
        justify-content: space-between;
    }

    .button-text {
        padding-top: 3px;
    }

    .qr {
        display: inline-block;
    }
}