.main-container {
    margin: 0px 50px;
    margin-top: -70px;
}

.form-group {
    padding: 10px;
    margin-top: -120px;
}

.choose {
    height: 35px;
    width: 80px;
}

.form-text {
    width: 360px;
    height: 29px;
}

.button {
    padding: 10px 100px;
    margin: 20px;
    background: #CC0000;
    border: #f6f6f6;
    color: white;
    font-size: medium;
}

.alert{
    padding: 20px;
    background-color: aqua;
    color:#f6f6f6;
    opacity:1;
    transition:opacity 0.6s;
    margin-bottom: 15px;
}

.closebtn{
    margin-left:15px;
    color:white;
    font-weight: bold;
    float:right;
    font-size:22px;
    line-height:20px;
    cursor: pointer;
    transition:0.3s;

}
@media screen and (max-width:570px) {
    .main-container {
        margin: 0px 10px;
        margin-top: -50px;
    }
    
    .form-group {
        padding: 10px;
        margin-top: -100px;
    }
    

    .logo {
        height: 360px;
        width: 360px;
    }
    
    .form-text {
        width: 230px;
        height: 30px;
    }
    
    .button {
        padding: 15px 130px;
        margin: 20px auto;
    }
}