.main-container {
    margin: 0px 50px;
    margin-top: -70px;
}

.form-group {
    padding: 10px;
    margin-top: -110px;
}

.choose {
    height: 40px;
    width: 120px;
    font-size: 18px;
    font-weight: 300;
}

.form-text {
    width: 300px;
    height: 35px;
    font-size: 18px;
}

.button1 {
    padding: 10px 100px;
    margin: 30px;
    background: #CC0000;
    border: #f6f6f6;
    color: white;
    font-size: 20px;
    font-weight: 300;
    border-radius: 5%;
}

.error{
    color: #f80707;
    font-weight: 500;
    font-size: 20px;
}
@media screen and (max-width:570px) {
    .main-container {
        margin: 0px 10px;
        margin-top: -50px;
    }
    
    .form-group {
        padding: 10px;
        margin-top: -100px;
    }

    .logo {
        height: 360px;
        width: 360px;
    }
    
    .form-text {
        width: 200px;
        height: 30px;
        font-size: 15px;
    }

    .choose{
        height: 30px;
        width: 110px;
        font-size: 15px;
        font-weight: 300;

    }

    .button1 {
        padding: 15px 130px;
        margin: 20px auto;
        font-size: 20px;
    }

    .error{
        font-size: 17px;
        font-weight: 400;
    }
}
