.main-container {
    margin: 0px 50px;
    margin-top: -90px;
}

.form-group {
    padding: 10px;
    margin-top: -100px;
}

.choose {
    height: 40px;
    width: 120px;
    font-size: 17px;
    font-weight: 300;
}

.form-text {
    width: 300px;
    height: 35px;
    font-size: 17px;
}

.button1 {
    padding: 8px 100px;
    margin: 30px;
    background: #CC0000;
    border: #f6f6f6;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 300;
    cursor: pointer;
}

.button1:disabled{
    background: #797979;
}

.error{
    color: #f80707;
    font-weight: 500;
    font-size: 17px;
}

@media screen and (max-width:550px) {
    .main-container {
        margin: 0px 20px;
        margin-top: -110px;
    }

    .form-group {
        margin-top: -120px;
    }

    .logo {
        width: 400px;
        height: 400px;
    }

    .choose {
        height: 35px;
        font-size: 16px;
    }
    
    .form-text {
        width: 260px;
        height: 29px;
        font-size: 16px;
    }

    .button1 {
        padding: 9px 70px;
        font-size: 17px;
    }

    .error{
        font-size: 16px;
    }
}

@media screen and (max-width:480px) {

    .main-container {
        margin: 0px 20px;
        margin-top: -70px;
    }

    .logo {
        width: 300px;
        height: 320px;
    }

    .choose {
        height: 30px;
        width: 90px;
        font-size: 13px;
    }

    .form-text {
        width: 180px;
        height: 25px;
        font-size: 14px;
    }

    .button1 {
        padding: 8px 60px;
        margin: 20px;
        font-size: 15px;
    }

    .error{
        font-size: 14px;
    }
}

