.container{
    flex:0.8;
    font-size: 17px;
}

.head {
    text-align: left;
    padding: 10px 40px;
    font-weight: 700;
}

.details{
    display: flex;
    margin: 0 30px;
}

.section-1, .section-2{
    display: flex;
    background-color: #fafafa;
    margin: 0 10px;
    padding: 10px;
}

.section-1 {
    width: 70%;
}

.section-1 .title {
    width: 80%;
    display: flex;
}

.section-1 .left {
    text-align: left;
    width: 60%;
    margin: 10px 10px 0px 50px;
}

.section-1 .right {
    margin: 10px 0px 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.payment {
    margin-top: 70px;;
    margin-bottom: 15px;
    margin-left: 15px;
}

.section-2 {
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
}

.text{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#bottom {
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 700;
}

 .button2{
    visibility:hidden;
}

@media screen and (max-width:860px) {
    .container{
        flex:0.8;
        font-size: 17px;
    }

    .details{
        display: block;
        margin: 10px 20px;
    }
    
    .section-1, .section-2{
        margin: 20px 0px;
    }
    
    .section-1 {
        width: 95%;
    }

    .section-1 .title {
        width: 90%;
    }

    .section-1 .image img {
        height: 120px;
        width: 120px;
    }

    .section-1 .left {
        margin: 10px 10px 0px 20px;
    }

    .section-1 .right {
        margin: 10px 0px 0px 10px;
        width: 45%;
    }
    
    .section-2 {
        width: 95%;
    }
}

@media screen and (max-width:540px) {
    .container{
        font-size: 13px;
    }

    .details{
        margin: 10px 10px;
    }

    .section-1{
        width: 92%;
        display: block;
        margin: 0px 5px;
    }

    .section-1 .image img {
        height: 90px;
        width: 90px;
    }
    
    .section-1 .left {
        width: 100%;
        margin: 10px 0px 0px 40px;
    }
    
    .section-1 .right {
        width: 85%;
        justify-content: space-between;
        margin: auto;
    }

    .status,.payment  {
        margin: 15px;
    }

    .section-2 {
        width: 92%;
        margin: 20px 5px;
    }
    
    .button2{
        padding: 12px 70px; 
        margin: 20px;
        background:#CC0000;
        border: #CC0000;
        color: white;
        border-radius: 5px; 
        cursor: pointer;
        visibility: visible;
    }
}