.container{
    flex:0.8;
    font-size: 17px;
}

.head {
    text-align: left;
    padding: 10px 40px;
    font-weight: 700;
}

.details{
    display: flex;
    margin: 0 20px;
}

.EachItem {
    width: 65%;
}

.section-1, .section-2{
    display: flex;
    background-color: #fafafa;
    margin: 10px 10px;
    padding: 10px;
}

.section-1 .left {
    text-align: left;
    width: 80%;
    margin: 10px 10px 0px 50px;
}

.right {
    display: none;
}

.section-2 {
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
    height: 40%;
}

.text{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#bottom {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
}

.Merror {
    margin-top: -20px;
    margin-bottom: 80px;
}

 .button2{
    visibility:hidden;
}

@media screen and (max-width:580px) {
    
    .details{
        display: block;
        margin: 0 20px;
    }
    
    .EachItem {
        width: 100%;
    }
    
    .right {
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px 20px;
    }

    .right .status {
        text-align: left;
    }

    .right .payment {
        display: flex;
        justify-content: space-between;
    }
    
    .section-2 {
        width: 90%;
    }
    
    .Merror {
       display: none;
    }
    
    .button2{
        padding: 12px 50px; 
        margin: 20px;
        background:#CC0000;
        border: #CC0000;
        color: white;
        border-radius: 5px; 
        cursor: pointer;
        visibility: visible;
        position: fixed;
        bottom: 0;
        left: 50%;
        margin-left: -100px;
    }
}